In [2]:
import pandas as pd

df = pd.read_csv('./preprocessed_kb_0518.csv')
df

,car_url,car_area,car_no,car_brand,car_name,name_datailed,new_price,price,year,use,...,color,trans,loss,flood,usage,change,insurance,sales_corp,sales_loca,options
0,22274652,경기,29너6142,한국GM,쉐보레 올란도,LPG LS 일반형,2122,849,2013,103,...,인기색상,오토,없음,없음,없음,1회,사고있음,주식회사 노빌리티 경기지점,경기 수원시,[등록된/ 주요/ 옵션이/ 없습니다.]
1,22274154,광주,156서1980,한국GM,더 뉴 트랙스,1.6 디젤 LT 기본형,1986,1450,2018,52,...,회색,오토,없음,없음,있음,2회,사고없음,주식회사 즐거운모터스,광주 서구,[주차감지센서/ 가죽시트/ 열선시트/ 사이드&커튼에어백/ 전동접이사이드미러/ 타이어...
2,22274071,경기,01서3666,한국GM,더 뉴 스파크,LT 기본형,1423,655,2017,57,...,흰색,오토,없음,없음,없음,1회,사고없음,창대모터스,경기 수원시,[스마트키/ 가죽시트/ 알루미늄휠]
3,22269730,광주,196버2246,한국GM,올 뉴 크루즈,1.4 터보 LT 디럭스,1264,999,2017,48,...,흰색,오토,없음,없음,있음,1회,사고있음,(주)파랑새모터스,광주광역시 서구,[오토라이트/ 주차감지센서/ 가죽시트/ 열선시트/ 사이드&커튼에어백/ 레인선서와이퍼...
4,22269296,부산,19저3500,한국GM,알페온,CL240 프리미엄,3411,580,2011,131,...,인기색상,오토,없음,없음,없음,1회,사고있음,청산자동차상사,부산광역시 사상구,[오토라이트/ 가죽시트/ 열선시트/ 사이드&커튼에어백/ 레인선서와이퍼/ 전동접이사이...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44241,21283387,경기,05라7854,아우디,A4,1.8 TFSI B7(05~08),4142,290,2006,192,...,회색,CVT,없음,없음,없음,14회,사고있음,제이원모터스,경기 수원시,[썬루프/ 오토라이트/ 가죽시트/ 열선시트/ 사이드&커튼에어백/ 전동접이사이드미러/...
44242,20818997,대구,52서5835,아우디,NEW A6,2.4 FSI C6,6666,400,2007,180,...,은색,CVT,없음,없음,없음,4회,사고있음,다연모터스,대구 남구,[썬루프/ 내비게이션/ 오토라이트/ 가죽시트/ 열선시트/ 사이드&커튼에어백/ 레인선...
44243,20686196,경남,35로5629,닛산,알티마,3.5,3705,630,2010,134,...,하늘색,CVT,없음,없음,없음,2회,사고있음,창원중고자동차매매상사,경남 창원시,[오토라이트/ 가죽시트/ 열선시트/ 사이드&커튼에어백/ 전동접이사이드미러/ 타이어공...
44244,20370192,인천,64라2472,아우디,NEW A4,2.0 TDI B8,4500,990,2012,122,...,은색,CVT,없음,없음,없음,4회,사고있음,뉴 정우모터스,인천 미추홀구,[오토라이트/ 가죽시트/ 열선시트/ 사이드&커튼에어백/ 레인선서와이퍼/ 전동접이사이...
44245,20369969,경기,03우7498,도요타,뉴 캠리,2.5 하이브리드 XLE,4021,1850,2017,56,...,흰색,CVT,없음,없음,없음,1회,사고있음,무한상사,경기 안산시,[크루즈컨트롤]

In [3]:
from sklearn.model_selection import train_test_split

X_test, X_train, y_test, y_train =

,car_url,new_price,price,year,use,depreciation,mileage,forecast_min,forecast_max,car_cc
car_url,1.000000,0.000382,0.061029,0.149274,-0.149703,-0.103914,-0.081814,0.080045,0.056445,-0.029842
new_price,0.000382,1.000000,0.750144,0.087784,-0.101903,-0.032899,0.003534,0.749177,0.759063,0.156704
price,0.061029,0.750144,1.000000,0.509468,-0.525185,-0.546031,-0.377109,0.973198,0.973569,0.119438
year,0.149274,0.087784,0.509468,1.000000,-0.991246,-0.864333,-0.606357,0.518327,0.518784,0.017600
use,-0.149703,-0.101903,-0.525185,-0.991246,1.000000,0.873220,0.613426,-0.533715,-0.534098,-0.017778
depreciation,-0.103914,-0.032899,-0.546031,-0.864333,0.873220,1.000000,0.715988,-0.535777,-0.532743,-0.002650
mileage,-0.081814,0.003534,-0.377109,-0.606357,0.613426,0.715988,1.000000,-0.375592,-0.373897,0.025185
forecast_min,0.080045,0.749177,0.973198,0.518327,-0.533715,-0.535777,-0.375592,1.000000,0.989814,0.130159
forecast_max,0.056445,0.759063,0.973569,0.518784,-0.534098,-0.532743,-0.373897,0.989814,1.000000,0.136401
car_cc,-0.029842,0.156704,0.119438,0.017600,-0.017778,-0.002650,0.025185,0.130159,0.136401,1.000000